@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
section,
footer,
article,
aside {
  border: 1px solid gray;
  padding: 10px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "h h h h "
    "n n n n "
    "a s s as"
    "f f f f";
}
main {
  text-align: justify;
  width: 80%;
  max-width: 800px;
  margin: auto;
}
header {
  grid-area: h;
}
nav {
  grid-area: n;
}
article {
  grid-area: a;
}
section {
  grid-area: s;
}
aside {
  grid-area: as;
}
footer {
  grid-area: f;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  margin: auto;
}
